In [15]:
import os
import sys
import importlib

In [3]:
# Add src/ directory to Python path
sys.path.append(os.path.abspath('../src'))

In [4]:
# Define the data directory
DATA_DIR = '../2023 eBay ML Challenge Data/'

In [12]:
# File paths
LISTING_TITLES_FILE = os.path.join(DATA_DIR, 'Listing_Titles.tsv.gz')
TAGGED_TITLES_FILE = os.path.join(DATA_DIR, 'Train_Tagged_Titles.tsv.gz')

In [21]:
import data_loading
importlib.reload(data_loading)
from data_loading import load_listing_titles, load_tagged_titles

In [20]:


listing_titles_df = load_listing_titles(LISTING_TITLES_FILE)

Loading Listing Titles...
Listing Titles loaded. Shape: (9991682, 2)

In [11]:
print("\nFirst 10 rows of Listing Titles:")
listing_titles_df.head(10)

First 10 rows of Listing Titles:

   Record Number                                              Title
0              1  Supreme Nike SB Dunk High By any Means Red US1...
1              2  New Balance 530 Männer und Frauen Laufschuhe m...
2              3                     ♥ MICHAEL KORS Sneaker Gr 39 ♥
3              4             New Balance ML 574 EGO Turnschuhe grün
4              5  Nike air jordan 9 og , space jam , hare , bugs...
5              6  NEU SKECHERS Damen Sneakers Turnschuhe Memory ...
6              7                        New Balance 550 White Green
7              8  CAT CATERPILLAR Arise Sneaker Freizeitschuhe T...
8              9  Adidas NMD R1 STLT PK Primeknit Sneaker Turnsc...
9             10  Damen Sneaker Mesh Sportschuhe Laufschuhe Slip...

In [22]:
tagged_titles_df = load_tagged_titles(TAGGED_TITLES_FILE)

Loading Train Tagged Titles...
Train Tagged Titles loaded. Shape: (47158, 4)

In [25]:
print("\nFirst 30 rows of Tagged Titles:")
tagged_titles_df.head(30)

First 30 rows of Tagged Titles:

,Record Number,Title,Token,Tag
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,Modell
1,1,Supreme Nike SB Dunk High By any Means Red US1...,Nike,Marke
2,1,Supreme Nike SB Dunk High By any Means Red US1...,SB,Produktlinie
3,1,Supreme Nike SB Dunk High By any Means Red US1...,Dunk,NaN
4,1,Supreme Nike SB Dunk High By any Means Red US1...,High,Schuhschaft-Typ
5,1,Supreme Nike SB Dunk High By any Means Red US1...,By,Modell
6,1,Supreme Nike SB Dunk High By any Means Red US1...,any,NaN
7,1,Supreme Nike SB Dunk High By any Means Red US1...,Means,NaN
8,1,Supreme Nike SB Dunk High By any Means Red US1...,Red,Farbe
9,1,Supreme Nike SB Dunk High By any Means Red US1...,US10,US-Schuhgröße
10,1,Supreme Nike SB Dunk High By any Means Red US1...,EU44,EU-Schuhgröße
11,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,No Tag
12,1,Supreme Nike SB Dunk High By any Means Red US1...,Box,No Tag
13,1,Supreme Nike SB Dunk High By any Means Red US1...,Logo,Akzente
14,1,Supreme Nike SB Dunk High By any Means Red US1...,Air,Produktlinie
15,1,Supreme Nike SB Dunk High By any Means Red US1...,Force,NaN
16,2,New Balance 530 Männer und Frauen Laufschuhe m...,New,Marke
17,2,New Balance 530 Männer und Frauen Laufschuhe m...,Balance,NaN
18,2,New Balance 530 Männer und Frauen Laufschuhe m...,530,Modell
19,2,New Balance 530 Männer und Frauen Laufschuhe m...,Männer,Abteilung
20,2,New Balance 530 Männer und Frauen Laufschuhe m...,und,No Tag
21,2,New Balance 530 Männer und Frauen Laufschuhe m...,Frauen,Abteilung
22,2,New Balance 530 Männer und Frauen Laufschuhe m...,Laufschuhe,Produktart
23,2,New Balance 530 Männer und Frauen Laufschuhe m...,mit,No Tag
24,2,New Balance 530 Männer und Frauen Laufschuhe m...,Buchstaben,Muster
25,2,New Balance 530 Männer und Frauen Laufschuhe m...,N,NaN
26,2,New Balance 530 Männer und Frauen Laufschuhe m...,bequeme,No Tag
27,2,New Balance 530 Männer und Frauen Laufschuhe m...,Laufschuhe,Produktart
28,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,♥,No Tag
29,3,♥ MICHAEL KORS Sneaker Gr 39 ♥,MICHAEL,Marke